.search-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
}

.search-bar-field {
  width: 100%;
  display: flex;
  gap: var(--card-gap);
}

.search-bar-field form {
  position: relative;
  width: 100%;
}

.search-bar-location-active,
.search-bar-location-inactive {
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
  border-radius: var(--card-roundness);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar-location-active {
  color: white;
  background-color: var(--blue);
}

.search-bar-location-inactive {
  color: var(--blue);
  background-color: var(--lightblue);
}

.search-bar-field form input {
  width: 100%;
  padding: 15px 20px;
  height: 50px;
  border-radius: var(--card-roundness);
  border: none;
  background-color: var(--lightblue);
}

.search-bar-field form input::placeholder {
  letter-spacing: 0.02em;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.search-bar-field form img {
  position: absolute;
  right: 15px;
  top: 9px;
}
