.feed-list {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
  padding: 0 20px;
  padding-bottom: var(--site-p-bottom);
}

.back-button {
  padding: var(--outer-p) 0 10px;
  cursor: pointer;
  color: var(--blue);
}

.follows-screen {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
  height: 100%;
  flex: 1;
  padding: 0 var(--outer-p);
}

.follows-screen-feed {
  padding-bottom: var(--site-p-bottom);
  overflow: auto;
}

.follows-screen-feed::-webkit-scrollbar {
  display: none;
}

.follows-none {
  text-align: center;
  padding: var(--outer-p) 0;
  color: rgb(172, 172, 172);
}
