.card-review-full,
.card-review-small,
.card-review-full-nopic,
.card-review-small-nopic {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

.card-review-full-image,
.card-review-small-image {
  width: 100%;
  min-height: 0;
  flex: 1;
  background-color: var(--lightblue);
}

.card-review-full-image img,
.card-review-small-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rating-byline {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-review-full .profile-pic,
.card-review-full-nopic .profile-pic {
  position: absolute;
  right: var(--inner-p);
  top: var(--inner-p);
}

/* FULL CARD */

.card-review-full {
  width: 100%;
  height: 250px;
  min-height: 250px;
  border-radius: 25px;
  position: relative;
  border: 1px solid rgb(207, 207, 207);
  overflow: hidden;
}

.card-review-full-nopic {
  width: 100%;
  min-height: 140px;
  border-radius: 25px;
  position: relative;
  border: 1px solid white;
  overflow: hidden;
}

.card-review-full-title {
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: var(--inner-p);
}

.card-review-full-title-nopic {
  position: absolute;
  left: var(--inner-p);
  width: calc(100% - var(--inner-p) * 3 - 40px);
  height: calc(100% - var(--inner-p) * 2);
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  padding: var(--inner-p);
}

/* SMALL CARD */

.card-review-small,
.card-review-small-nopic {
  width: 180px;
  min-width: 180px;
  height: 260px;
  border-radius: 15px;
  border: 1px solid rgb(207, 207, 207);
  overflow: hidden;
}

.card-review-small-title {
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: var(--inner-p);
}

.card-review-small-title-nopic {
  position: absolute;
  width: 85%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: var(--inner-p);
  border-radius: 10px;
}
