/* FULL CARD */

.card-makanlist-full {
  width: 100%;
  min-height: 108px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 15px;
  border-radius: 25px;
  position: relative;
}

.card-makanlist-full-title {
  width: 60%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

/* SMALL CARD */

.card-makanlist-small {
  width: 180px;
  min-width: 180px;
  height: 180px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 15px;
  border-radius: 15px;
  position: relative;
}

.card-makanlist-small-title {
  width: 60%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}
