.feed-list {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
  padding: 0 var(--outer-p);
  padding-bottom: var(--site-p-bottom);
}

.back-button {
  padding-top: var(--outer-p);
  cursor: pointer;
  color: var(--blue);
}

.favourites-screen {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
  height: 100%;
  flex: 1;
  padding: 0 var(--outer-p);
}

.favourites-screen h1 {
  padding: 5px 0;
}

.favourites-screen-feed {
  padding-bottom: var(--site-p-bottom);
  overflow: auto;
}

.favourites-screen-feed::-webkit-scrollbar {
  display: none;
}
