.feed-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
  padding-bottom: 140px;
}

#places,
#makanlists {
  cursor: pointer;
}

.back-button {
  padding-top: 20px;
  padding-left: 20px;
  cursor: pointer;
  color: #0078ef;
}

.favourites-screen {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  flex: 1;
  padding: 0 20px;
}

.favourites-screen-feed {
  padding-bottom: 140px;
  overflow: auto;
}

.favourites-screen-feed::-webkit-scrollbar {
  display: none;
}
