.horz-feed {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
  position: relative;
  width: 100%;
  padding-left: var(--outer-p);
}

.vert-feed {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
  position: relative;
  width: 100%;
  overflow: none;
  align-items: center;
  height: fit-content;
  min-height: fit-content;
}

.vert-feed::-webkit-scrollbar {
  display: none;
}

.horz-feed-cards {
  display: flex;
  width: 100%;
  gap: var(--card-gap);
  overflow-x: scroll;
  padding-bottom: var(--card-gap);
  padding-right: var(--outer-p);
}

.horz-feed-cards::-webkit-scrollbar {
  height: 6px;
}

.horz-feed-cards::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 4px;
}

.horz-feed-cards::-webkit-scrollbar-track {
  margin-right: var(--outer-p);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

.following-feed-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
  background-color: var(--lightblue);
  padding: var(--inner-p);
  border-radius: var(--card-roundness);
}

.list-edit-card {
  width: 100%;
  position: relative;
}

.list-edit-card-delete {
  position: absolute;
  top: var(--inner-p);
  right: var(--inner-p);
  z-index: 5;
}

.feed-none {
  background-color: var(--lightblue);
  padding: var(--inner-p);
  border-radius: var(--card-roundness);
  text-align: left;
  width: 100%;
}
