.horz-feed {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
  padding-left: 20px;
}

.vert-feed {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
  overflow: none;
  align-items: center;
  height: fit-content;
  min-height: fit-content;
}

.vert-feed::-webkit-scrollbar {
  display: none;
}

.horz-feed-cards {
  display: flex;
  width: 100%;
  gap: 10px;
  overflow-x: scroll;
  padding-bottom: 10px;
  padding-right: 20px;
}

.horz-feed-cards::-webkit-scrollbar {
  height: 6px;
}

.horz-feed-cards::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 4px;
}

.horz-feed-cards::-webkit-scrollbar-track {
  margin-right: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

.following-feed-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--lightblue);
  padding: 10px;
  border-radius: 25px;
}

.list-edit-card {
  width: 100%;
  position: relative;
}

.list-edit-card-delete {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
}
