.map-display {
  background-color: #0078ef;
  border-radius: 25px 25px 0 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.map-search-button {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -90px;
  z-index: 5;
  width: 180px;
  border-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}
