.loginscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  gap: 30px;
  background-color: var(--blue);
  color: white;
}

.loginscreen-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loginscreen form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

@media (min-width: 700px) {
  .loginscreen {
    padding: 100px;
    gap: 30px;
  }
  .loginscreen form {
    width: 600px;
  }
}

.loginscreen form input {
  width: 100%;
  padding: 15px 20px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  color: white;
}

.loginscreen form input::placeholder {
  letter-spacing: 0.02em;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}

.loginscreen form button {
  width: 100%;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  height: 50px;
}

.login-inactive {
  background-color: #c9c9c9;
  color: white;
}

.login-active {
  background-color: #ffffff;
  color: var(--blue);
}

.loginscreen u {
  cursor: pointer;
}
