.splashscreen img {
  width: 100%;
  height: 80%;
}

@media (min-width: 700px) {
  .splashscreen img {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}

.splashscreen-popup {
  background-color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  border-radius: 25px 25px 0 0;
}

.splashscreen-popup h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.splashscreen-popup-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 700px) {
  .splashscreen-popup {
    width: 600px;
    bottom: calc(50% - 250px);
    left: calc(50% - 300px);
    height: 500px;
    padding: 80px;
    justify-content: center;
    border-radius: 25px;
  }

  .splashscreen-popup h4 {
    font-size: 20px;
  }

  .splashscreen-popup h1 {
    font-size: 70px;
  }
}
