.signupscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  gap: 30px;
  background-color: var(--blue);
  color: white;
}

.signupscreen-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signupscreen form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

@media (min-width: 700px) {
  .signupscreen {
    padding: 100px;
    gap: 30px;
  }
  .signupscreen form {
    width: 600px;
  }
}

.signupscreen form input {
  width: 100%;
  padding: 15px 20px;
  height: 50px;
  border-radius: var(--card-roundness);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  color: white;
}

.signupscreen form select {
  width: 100%;
  padding: 0px 20px;
  height: 50px;
  border-radius: var(--card-roundness);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.01em;
}

.signupscreen form input::placeholder {
  letter-spacing: 0.02em;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}

.signupscreen form button {
  width: 100%;
  border: none;
  border-radius: var(--card-roundness);
  cursor: pointer;
  height: 50px;
}

.signup-inactive {
  background-color: #c9c9c9;
  color: white;
}

.signup-active {
  background-color: #ffffff;
  color: var(--blue);
}

.signupscreen u {
  cursor: pointer;
}
