.feed-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 var(--outer-p);
  padding-bottom: var(--site-p-bottom);
}

#featured,
#following {
  cursor: pointer;
}

.home-page {
  padding: 0 var(--outer-p);
  overflow: auto;
  padding-bottom: var(--site-p-bottom);
}

.home-page::-webkit-scrollbar {
  display: none;
}
