.card-restaurant-full,
.card-restaurant-small {
  display: flex;
  flex-direction: column;
}

.card-restaurant-full img,
.card-restaurant-small img {
  width: 100%;
  min-height: 0;
  flex: 1;
  object-fit: cover;
}

.rating-byline {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* FULL CARD */

.card-restaurant-full {
  width: 100%;
  height: 180px;
  min-height: 180px;
  border-radius: 25px;
  position: relative;
  border: 1px solid rgb(207, 207, 207);
  overflow: hidden;
}

.card-restaurant-full-title {
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: var(--inner-p);
}

/* SMALL CARD */

.card-restaurant-small {
  position: absolute;
  top: calc(50% - 310px);
  right: 50%;
  margin-right: -90px;
  width: 180px;
  min-width: 180px;
  height: 260px;
  border-radius: 15px;
  border: 1px solid rgb(207, 207, 207);
  overflow: hidden;
  z-index: 100;
}

.card-restaurant-small-title {
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: var(--inner-p);
}

/* SEARCH CARD */
.card-restaurant-search {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: var(--inner-p);
  width: 100%;
  min-height: 100px;
  border-radius: 25px;
  position: relative;
  border: 1px solid rgb(207, 207, 207);
  overflow: hidden;
  color: var(--blue);
  cursor: pointer;
}

.card-restaurant-search p {
  color: black;
}
