#nav {
  background-color: white;
  position: absolute;
  bottom: var(--outer-p);
  left: 50%;
  margin-left: -172.5px;
  width: 345px;
  height: 60px;
  border-radius: var(--card-roundness);
  padding: 15px 25px;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

#nav .navbar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#nav .navbar-active {
  position: absolute;
  bottom: -7px;
  left: 50%;
  margin-left: -2px;
  width: 4px;
  height: 4px;
  border-radius: 24px;
  background-color: var(--blue);
}

#nav img {
  cursor: pointer;
}

#nav .navbar-profilepic img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 3px solid var(--blue);
}

#nav .nav-logo {
  display: none;
}

@media (min-width: 700px) {
  #nav {
    position: fixed;
    background-color: white;
    top: 125px;
    left: calc(10% - 30px);
    margin: 0;
    width: 60px;
    height: 350px;
    padding: 25px 35px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
  }

  #nav .navbar-active {
    bottom: -10px;
  }

  #nav .nav-logo {
    display: flex;
    top: -120px;
    position: absolute;
    width: 60px;
    aspect-ratio: 1;
    color: var(--blue);
  }
}
