#nav {
  background-color: white;
  position: fixed;
  bottom: 40px;
  left: 50%;
  margin-left: -172.5px;
  width: 345px;
  height: 60px;
  border-radius: 25px;
  padding: 15px 25px;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav img {
  cursor: pointer;
}
