.profile-page-header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px var(--outer-p) var(--outer-p) var(--outer-p);
}

.profile-buttons {
  display: flex;
  gap: var(--card-gap);
}

.profile-page-feeds {
  display: flex;
  flex-direction: column;
  gap: var(--outer-p);
  padding-bottom: var(--site-p-bottom);
}
