.search-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 var(--outer-p);
}

.search-toggles {
  display: flex;
  gap: 10px;
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
  padding-bottom: var(--site-p-bottom);
}

.search-none {
  text-align: center;
  padding: var(--outer-p) 0;
}
