.search-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
}

.search-toggles {
  display: flex;
  gap: 10px;
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: var(--site-p-bottom);
}

.search-none {
  text-align: center;
  padding: 20px 0;
}
