.restaurant-page {
  display: flex;
  flex-direction: column;
}

.restaurant-cover {
  width: 100%;
  height: 400px;
  min-height: 400px;
  background-color: var(--blue);
  border-radius: 0 0 25px 25px;
  overflow: hidden;
}

.restaurant-cover img {
  width: 100%;
  height: 100%;
}

.restaurant-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 150px;
}

.restaurant-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  gap: 10px;
}

.restaurant-title-buttons {
  display: flex;
  position: relative;
  align-items: center;
  gap: 10px;
  height: fit-content;
  color: var(--blue);
}

.restaurant-title-buttons img {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.restaurant-content-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.restaurant-content-details-row {
  display: flex;
  gap: 8px;
}

.restaurant-content-details-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
