.restaurant-page {
  display: flex;
  flex-direction: column;
}

.restaurant-cover {
  width: 100%;
  height: 400px;
  min-height: 400px;
  background-color: var(--blue);
  border-radius: 0 0 var(--card-roundness) var(--card-roundness);
  overflow: hidden;
}

.restaurant-cover img {
  width: 100%;
  height: 100%;
}

.restaurant-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: var(--site-p-bottom);
}

.restaurant-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px;
}

.restaurant-title-buttons {
  display: flex;
  position: relative;
  align-items: center;
  gap: 10px;
  height: fit-content;
  color: var(--blue);
}

.restaurant-title-buttons img {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.restaurant-content-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: var(--outer-p);
}

.restaurant-content-details-row {
  display: flex;
  gap: 8px;
}

.restaurant-content-details-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.recommended-pill {
  border: 1px solid var(--blue);
  width: fit-content;
  padding: 5px 13px;
  border-radius: 20px;
}

.recommended-pills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
