* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
  --blue: #0078ef;
  --lightblue: #9edef5;
  --orange: rgb(234, 140, 18);
  --site-p-bottom: 140px;
  --inner-p: 15px;
}

@media (min-width: 700px) {
  :root {
    --site-p-bottom: 40px;
    --inner-p: 20px;
  }
}

html,
body,
body #root {
  height: 100%;
}

.App {
  height: 100%;
  text-align: left;
  color: black;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 375px;
  position: relative;
}

.content {
  overflow: auto;
  flex: 1;
}

@media (min-width: 700px) {
  .App {
    width: 80%;
    margin-left: auto;
    padding-top: 40px;
    padding-right: 5%;
  }

  .content {
    border-radius: 25px 25px 0 0;
    overflow: auto;
    flex: 1;
  }
}

.content::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

h6 {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.01em;
}

@media (min-width: 700px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 30px;
  }
}

img {
  object-fit: cover;
}

u {
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}

.inactive {
  background-color: #dedede;
}

.inactive-text {
  color: #dedede;
}

.blue-text {
  color: var(--blue);
}

.lightblue-text {
  color: var(--lightblue);
}

.divider-line {
  height: 1px;
  width: 100%;
  background-color: var(--blue);
}

.divider-dotted {
  height: 1px;
  width: 100%;
  border-top: 2px dotted var(--blue);
}

.clickable {
  cursor: pointer;
}
