.button {
  width: 100%;
  border: none;
  border-radius: var(--card-roundness);
  color: white;
  cursor: pointer;
}

.button-small,
.button-medium {
  padding: 10px;
}

.button-medium {
  height: 40px;
}

.button-large {
  height: 50px;
}

.button-active {
  background-color: var(--blue);
}

.button-inactive {
  background-color: var(--lightblue);
}

.icon-button {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: var(--blue);
}

.white-icon {
  color: white;
}

.button-color-warning {
  background-color: var(--orange);
}

.custom-file-upload {
  width: 100%;
  padding: 15px 20px;
  height: 50px;
  border-radius: var(--card-roundness);
  border: none;
  color: white;
  background-color: var(--blue);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-file-outline {
  border: 1px solid white;
}

.file-attached {
  color: black;
  background-color: var(--lightblue);
}

.form-popup form input[type="file"],
.signupscreen form input[type="file"] {
  display: none;
}

.upload-icon-before {
  color: white;
}

.upload-icon-after {
  color: rgb(50, 166, 104);
}
