.button {
  width: 100%;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
}

.button-small,
.button-medium {
  padding: 10px;
}

.button-medium {
  height: 40px;
}

.button-large {
  height: 50px;
}

.button-active {
  background-color: #0078ef;
}

.button-inactive {
  background-color: #9edef5;
}

.icon-button {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #0078ef;
}

.white-icon {
  color: white;
}
