.menu-add-navbar {
  position: absolute;
  background-color: white;
  color: #0078ef;
  padding: 15px;
  top: -100px;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  height: 90px;
  border-radius: 15px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-add-navbar h4 {
  cursor: pointer;
}
