.menu-popup {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  position: absolute;
  background-color: white;
  color: var(--blue);
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  z-index: 99;
}

.menu-popup h4 {
  cursor: pointer;
}

.menu-navbar {
  top: -100px;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  height: 90px;
}

.menu-profile {
  top: 80px;
  right: 20px;
  margin-left: -80px;
  width: 160px;
  height: 90px;
}

.menu-restaurant {
  top: 40px;
  right: 0;
  margin-left: -80px;
  width: 160px;
  height: 90px;
}

@media (min-width: 700px) {
  .menu-navbar {
    top: 50%;
    left: calc(100% + 20px);
    margin-top: -40px;
    margin-left: 0;
    width: 160px;
    height: 90px;
  }
}
