.menu-popup {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  position: absolute;
  background-color: white;
  color: #0078ef;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  z-index: 99;
}

.menu-popup h4 {
  cursor: pointer;
}

.menu-navbar {
  top: -100px;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  height: 90px;
}

.menu-profile {
  top: 80px;
  right: 20px;
  margin-left: -80px;
  width: 160px;
  height: 90px;
}

.menu-restaurant {
  top: 40px;
  right: 0;
  margin-left: -80px;
  width: 160px;
  height: 90px;
}
